body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1{
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}

.navbar-brand a{
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #951C49;
	text-align: center;
}

main{
	width: 90%;
	display: block;
	float: center;
	margin: auto;
}

.menu h1{
	text-align: center;
	margin: 5px;
	margin-bottom: 40px;
}

.menu h2{
	text-align: center;
	margin: 10px;
	padding: 10px;
}

.menu-content {
	background-color: purple;
	margin: 30px;
}

.menu-content p {
	margin: 10px;
	padding: 10px;
}